.w140 {
  width: 140px !important;
}
.w120 {
  width: 120px !important;
}
.w110 {
  width: 110px !important;
}

.wrap {
  cursor: default;
  width: 1000px;
  margin: 20px auto;
  box-sizing: border-box;
  background: #fff;
}
.wrap .title {
  width: 100%;
  box-sizing: border-box;
  background: #f3f3f3;
  height: 40px;
  line-height: 40px;
  color: #900;
}
.wrap .content {
  width: 310px;
  margin: 20px auto;
}

body.newyear #__layout > div > .main {
  background: url(./pc_bg2.png) no-repeat top center;
  background-size: 100% 100%;
}
body.newyear .index-header {
  background: #f3ecda;
}

body.newyear .index-header nav {
  width: 100%;
  padding: 0 calc((100vw-1000px) / 2);
  background: #edeeef;
}

body.newyear .nuxt-progress {
  background: #eee;
}
